@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Open+Sans&display=swap');

:root {
    --some-color: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgba(107, 25, 128, 0.603);
    font-family: 'Freckle Face', cursive;
}

h1 {
    text-align: center;
    padding: 20px 0 50px;
    font-size: 60px;
    text-shadow: 2px 2px darkblue;
}

h2 {
    text-align: center;
    padding: 5px 10px 20px;
    font-size: 50px;
    text-shadow: 2px 2px darkblue;
}

.format {
    display: flex;
    max-width: 1200px;
    margin: 0 auto 100px;
    flex-direction: row;
}

.inst {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    border: 2px dashed rgb(36, 3, 36);
    border-radius: 15px;
    padding: 30px;
    background-color: #8c6597be; 
}

ul {
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
}

.instructions {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 800px;
    height: 800px;
    margin: auto;
    border: 3px solid black;
    border-radius: 30px;
    background-color: rgba(26, 26, 156, 0.692);
}

.container {
    width: 700px;
    height: 700px;
    padding: 10px;
    margin: 15px auto;
    background-color: rgba(255, 255, 255, 1);
    display: grid;
    border: 10px solid white;
    border-radius: 30px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.buttons {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.more-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.grid, .clear {
    margin: 10px;
}

  button {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    background-color: none;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, background-color;
    transition-property: box-shadow, background-color;

    font-family: 'Open Sans', sans-serif;
    margin: 0 15px 20px;
    font-size: 20px;
    padding: 10px;
    background: #8c6597be;
    border-radius: 15px;
    border: 1px rgba(58, 5, 58, 0.541) solid;
    color: black;
  }

  button:hover, button:focus, button:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background-color:rgba(107, 134, 224, 0.664);
  }

#black {
    background-color: rgba(0, 0, 0, 1);
}

#rgb {
    background-color: var(--some-color);
}

#greyscale {
    background-color: var(--some-color);
}

#eraser {
    background-color: none;
}